@import "./components/navbar";
@import "./components/footer";
@import "./components/modal";
@import "./components/item";

@import "./pages/shipments";
@import "./pages/shipment_details";

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
